@model BD_HOTELERIA.Models.Habitacion

@{
    ViewData["Title"] = "HabitacionEliminar";
}

<h1>Habitacion Eliminar</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Numero de Habitacion :
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NumeroHabitacion)
        </dd>
        <dt class = "col-sm-4">
            Piso :
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Piso)
        </dd>
        <dt class = "col-sm-4">
            Descripcion :
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-4">
            Precio de 8 Horas :
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Precio8Horas)
        </dd>
        <dt class = "col-sm-4">
            Precio por Dia :
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PrecioDia)
        </dd>
        <dt class = "col-sm-4">
            Estado :
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-4">
            Tipo de Habitacion :
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IdTipoHabitacion)
        </dd class>
    </dl>
    
    <form asp-action="HabitacionEliminar" class="row">
        <input type="hidden" asp-for="IdHabitacion" />
        <div class="form-group col-12">
            <div class="row">
                <div class="col-4">
                    <a asp-action="HabitacionListado" class="btn btn-outline-secondary">Regresar</a>
                </div>
                <div class="col-8">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </form>
</div>
